/*ESTILO MENÚ*/

*{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    background-color: hsl(199, 59%, 22%);
    height: 70px;
}

.ancho{
    width: 80%;
    height: 70px;
    background-color: hsl(199, 59%, 22%);
    margin: auto;
}

.logo {
    width: 30%;
    height: 70px;
    background-color: hsl(199, 59%, 22%);
    float: left;
    padding-top: 10px;
    box-sizing: border-box;
}

.logo p a {
    color: rgb(255, 255, 255);
    font-size: 40px;
    text-decoration: none;
    font-weight: bold;
    font-family: gigabold;
}

nav{
    width: 70%;
    height: 70px;
    background-color: hsl(199, 59%, 22%);
    float: right;
    text-align: right;
    padding-top: 24px;
    box-sizing: border-box;
}

nav ul li{
    display: inline;
}

nav ul li a {
    color: rgb(255, 255, 255);
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: gigabold;
}

nav ul li a:hover{
    color: rgb(0, 0, 0);
}

/*ESTILO FORMULARIO*/

div{
    box-sizing: border-box;
}

.title{
    text-align: center;
    font-size: 40px;
    color: hsl(0, 0%, 100%);
    margin-top: 100px;
    font-weight: 100;
    background-color:hsl(199, 59%, 22%);
}

.content{
    background-color: white;
    color: white;
    font-family: gigaregu;
    padding: 0 1.5em;
}

.content{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}


.contact-wrapper{
    box-shadow: 0 0 20px 0 hsl(199, 59%, 22%);
}

.contact-wrapper > *{
    padding: 1em;
}

.contact-form{
    background-color: hsl(199, 59%, 22%);
}

.contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-form form .block{ 
    grid-column: 1/3;
}

.contact-form form .form-group{
    margin: 0;
    padding: 1em;
}



.contact-form form button,
.contact-form form input,
.contact-form form textarea{
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: none;
    color: white;
    border-bottom: 1px solid white;
}

.contact-form form button{
    background: white;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
    color: hsl(199, 59%, 22%);
    font-family: gigabold;
}

.contact-form form button:hover,
.contact-form form button:focus{
    background: rgb(141, 141, 141);
    color: white;
    transition: background-color 1s ease-out;
    outline: 0;
}

.contact-form form .alert-danger{
    color: red;
}

.contact-info{
    background-color: white;
    color: hsl(199, 59%, 22%);
}

.contact-info h4,
.contact-info ul,
.contact-info p{
    text-align: center;
    margin: 0 0 1rem 0;
}

.contact-info ul{
    list-style: none;
    padding: 0;
}

.contact-info ul li{
    padding: .3em;
}

@media (min-width: 700px){
    

    .contact-wrapper{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .contact-wrapper>*{
        padding: 2em;
    }

    .contact-info h4,
    .contact-info ul,
    .contact-info p{
        padding: 1em;
        text-align: left;
    }
}



/*FUENTES*/
@font-face{
    font-family: gigabold;
    src: url(fonts/Locomotype\ \ GigaSansBold.otf);
}

@font-face{
    font-family: gigaregu;
    src: url(fonts/Locomotype\ \ GigaSansRegular.otf);
}


